@import url("https://use.fontawesome.com/releases/v5.5.0/css/all.css");

header {
  background-color: var(--primary);
  color: var(--onPrimary);
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0;
  font-weight: normal;
  font-family: var(--headingFont);
}

.fas {
  font-size: 1.8rem;
  cursor: pointer;
}

:any-link {
  color: var(--onPrimary);
}
