#wrapper {
  display: flex;
  flex-direction: column;
  transition: all .2s;
}

form {
  display: grid;
  width: 400px;
  justify-self: center;
  align-self: center;
  grid-gap: 16px 0;
  margin-top: 80px;
}

label {
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 4px 0;
  font-size: .8rem;
}

input {
  background: none;
  outline: none;
  border: 1px solid var(--onSecondary);
  border-radius: 5px;
  color: var(--onSecondary);
  font-size: 1.1rem;
  padding: 6px 4px;
}

button {
  padding: 8px 16px;
  width: fit-content;
  font-size: 1rem;
  background: var(--primary);
  border: 1px solid var(--primary);
  outline: none;
  cursor: pointer;
  justify-self: end;
  color: var(--onPrimary);
  transition: all .2s;
  border-radius: 5px;
}

button:hover {
  color: var(--onPrimary);
  background: var(--primaryDark);
  border: 1px solid var(--primaryDark);
}

button[type=button] {
  margin-left: 8px;
  border: none;
  background: none;
  color: var(--primary);
}

button[type=button]:hover {
  border: none;
  background: var(--primaryLight);
  color: var(--onPrimary);
}

#alert {
  margin: 8px 0 0;
  color: var(--alert);
  font-size: 1.1rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid var(--onSecondary);
  -webkit-text-fill-color: var(--onSecondary);
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}
